@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  ---white : #fff;
  ---black: #111;
  ---blue: #3a88e9
}


html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(---black);
  color: var(---white);
  min-width: 200vh;
}

::selection{
  color: var(---white);
  background-color: var(---blue);
}